.hot__ribon {
    position: absolute;
    top: 110px;
    right: -5px;
    background: #bb0101;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 600;
    top: 18px;
}

.hot__ribon2 {
    position: absolute;
    top: 60px;
    right: -5px;
    background: #bb0101;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 600;
}

.hot__ribon:after, .hot__ribon2:after {
  position: absolute;
  right: 0;
  bottom: -5px;
  border-top: 5px solid #8d0101;
  width: 5px;
  content: " ";
  display: block;
  border-right: 5px solid #f6f6f6;
}

.gosubmit__title{
	width:auto !important;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.search-price-size .form-control{
    display:inline-block !important;
    width: 44%;
}

.slider__item img{
    width:100% !important;
}

.thumb-div{
  min-width:270px;
  min-height: 170px;
  width:100%;
  height:100%;
  background-size: cover;
}

.property__youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.property__youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





/* =============== responsive stuff ====================================================================== */

@media (min-width: 992px){
    .img-width-fix{
        width:100px !important;
    }
}

/*@media (max-width: 991px){
    .img-width-fix{
        width:auto;
    }
}*/

@media (max-width: 991px){
    .width-fix {
        width: 50%;
    }
    .width-fix-2 {
        width:75%;
    }
    .width-fix-3{
        width:25%;
    }
    .search-price-size .form-control{
      width: 42%;
    }
}


@media (min-width: 768px){
  .thumb-div{
    min-width:290px;
    min-height:190px;
  }
}

@media (min-width: 480px) and (max-width:767px){
  .thumb-div{
    min-width:700px;
    min-height: 400px;
  }
}

@media (max-width: 479px){
  .thumb-div{
    min-height: 220px
  }
}